button {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
}

.button {
  background-color: #AD1818;
  padding: 0 40px;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 67px;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .button {
    padding: 0 27px;
    min-height: 51px;
    font-size: 16px;
    line-height: 22px;
  }
}

.button-full-width {
  background-color: #FFFFFF;
  border: 1px solid #AD1818;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 153px;
  font-size: 30px;
  line-height: 41px;
  color: #AD1818;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.button-full-width:hover {
  background-color: #AD1818;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .button-full-width {
    min-height: 100px;
    font-size: 22px;
    line-height: 30px;
  }
}
.button-full-width_inversion {
  background-color: #AD1818;
  border: 1px solid #AD1818;
  color: #FFFFFF;
  /* &:hover {
  	border: 1px solid #FFFFFF;
  	background-color: #FFFFFF;
  	color: #AD1818;
  } */
}
.button-full-width_small {
  min-height: 67px;
  font-size: 20px;
  line-height: 27px;
}

.button-menu-burger {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-menu-burger::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 50px;
  height: 2px;
  background-color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-menu-burger::after {
  content: "";
  position: absolute;
  top: calc(50% + 4px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 31px;
  height: 2px;
  background-color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-menu-burger_open::before {
  height: 2.5px;
  top: 50%;
  right: 8px;
  width: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 15px;
}
.button-menu-burger_open::after {
  height: 2.5px;
  top: 50%;
  right: 8px;
  width: 27px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 15px;
}

.button-close {
  position: absolute;
  top: 32px;
  right: 34px;
  width: 50px;
  height: 50px;
  background-image: url(../icons/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .button-close {
    right: 44px;
  }
}
@media (max-width: 767px) {
  .button-close {
    top: 40px;
    right: 29px;
    width: 30px;
    height: 30px;
    background-image: url(../icons/close-button_mobile.svg);
  }
}