.footer {
  background-color: #121212;
  padding: 60px 0px 30px 0px;
}
.footer__container {
  text-align: center;
}
.footer__nav {
  margin-bottom: 87px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__item-list {
  margin-left: 55px;
}
.footer__item-list:first-child {
  margin-left: 0;
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #FFFFFF;
}
.footer__link:hover {
  opacity: 0.5;
}
.footer__text {
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.5;
}