.footer {
  background-color: #121212;
  padding: 60px 0 30px;
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 0 26px;
  }
}
.footer__container {
  text-align: center;
}
.footer__nav {
  margin-bottom: 87px;
}
@media (max-width: 767px) {
  .footer__nav {
    margin-bottom: 41px;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 55px;
}
@media (max-width: 767px) {
  .footer__list {
    gap: 0 30px;
  }
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #FFFFFF;
}
.footer__link:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .footer__link {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__text {
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .footer__text {
    font-size: 13px;
    line-height: 18px;
  }
}