.fullscreen__img {
  width: 100%;
  max-height: 717px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.fullscreen__container {
  position: relative;
}
.fullscreen__description {
  position: absolute;
  bottom: 60px;
  left: 30px;
  max-width: 443px;
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
}