.header {
  position: relative;
  z-index: 15;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 91px;
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__img {
  max-height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1199px) {
  .header__nav {
    display: none;
  }
}
.header__button {
  display: block;
}
@media (max-width: 1199px) {
  .header__button {
    display: block;
  }
}