.intro {
  padding: 37px 0 75px 0;
}
@media (max-width: 1199px) {
  .intro {
    padding: 41px 0 60px 0;
  }
}
@media (max-width: 767px) {
  .intro {
    padding: 30px 0 40px 0;
  }
}
.intro__title {
  max-width: 956px;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .intro__title {
    max-width: 802px;
  }
}
@media (max-width: 767px) {
  .intro__title {
    max-width: 335px;
    margin-bottom: 25px;
  }
}
.intro__image {
  position: relative;
  height: 500px;
  background-color: #121212;
  background-image: url(../images/intro_desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1199px) {
  .intro__image {
    height: 400px;
    background-image: url(../images/intro_tablet.png);
  }
}
@media (max-width: 767px) {
  .intro__image {
    height: 304px;
  }
}
@media (max-width: 500px) {
  .intro__image {
    background-image: url(../images/intro_mobile.png);
  }
}
.intro__description {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .intro__description {
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .intro__description {
    bottom: 15px;
    left: 15px;
    width: 312px;
    font-size: 16px;
    line-height: 22px;
  }
}