.order__title {
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .order__title {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 11px;
  }
}
.order__description {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .order__description {
    font-size: 14px;
    line-height: 19px;
    max-width: 209px;
    margin: 0 auto 55px;
  }
}
.order__form {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .order__form {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 60px;
  }
}
.order__input {
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .order__input {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}
.order__input:last-child {
  margin-bottom: 0;
}
.order__input:focus {
  outline: none;
}
.order__input::-webkit-input-placeholder {
  opacity: 0.5;
}
.order__input::-moz-placeholder {
  opacity: 0.5;
}
.order__input:-ms-input-placeholder {
  opacity: 0.5;
}
.order__input::-ms-input-placeholder {
  opacity: 0.5;
}
.order__input::placeholder {
  opacity: 0.5;
}