.projects {
  padding: 75px 0 150px;
}
@media (max-width: 1199px) {
  .projects {
    padding: 60px 0 100px;
  }
}
@media (max-width: 767px) {
  .projects {
    padding: 40px 0 80px;
  }
}
.projects__title {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .projects__title {
    margin-bottom: 20px;
  }
}
.projects__items {
  margin-bottom: 90px;
}
@media (max-width: 1199px) {
  .projects__items {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .projects__items {
    margin-bottom: 60px;
  }
}
.project {
  margin-bottom: 90px;
}
@media (max-width: 1199px) {
  .project {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .project {
    margin-bottom: 49px;
  }
}
.project__img {
  display: block;
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .project__img {
    height: 250px;
    margin-bottom: 20px;
  }
}
.project__subtitle {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .project__subtitle {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .project__subtitle {
    margin-bottom: 11px;
  }
}
.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #AD1818;
}
@media (max-width: 767px) {
  .project__link {
    font-size: 16px;
    line-height: 22px;
  }
}