.projects {
  padding: 75px 0px 150px 0px;
}
@media (max-width: 1199px) {
  .projects {
    padding: 60px 0px 120px 0px;
  }
}
@media (max-width: 767px) {
  .projects {
    padding: 40px 0px 80px 0px;
  }
}
.projects__title {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .projects__title {
    margin-bottom: 20px;
  }
}
.projects__items {
  margin-bottom: 90px;
}
@media (max-width: 1199px) {
  .projects__items {
    margin-bottom: 102px;
  }
}
@media (max-width: 767px) {
  .projects__items {
    margin-bottom: 60px;
  }
}
.projects__link-button:hover {
  background-color: #AD1818;
  color: #FFFFFF;
}