.services {
  background-color: #121212;
  padding: 150px 0px;
}
@media (max-width: 1199px) {
  .services {
    padding: 151px 0 120px;
  }
}
@media (max-width: 767px) {
  .services {
    padding: 80px 0;
  }
}
.services__title {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .services__title {
    margin-bottom: 20px;
  }
}
.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 81px 11px;
  margin-bottom: 104px;
}
@media (max-width: 1199px) {
  .services__items {
    gap: 80px 10px;
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 58px 0;
    margin-bottom: 60px;
  }
}

.service {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 5.5px);
          flex: 0 1 calc(50% - 5.5px);
}
@media (max-width: 1199px) {
  .service {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 5px);
            flex: 0 1 calc(50% - 5px);
  }
}
@media (max-width: 767px) {
  .service {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.service__img {
  display: block;
  width: 100%;
  height: 388px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 25px;
}
@media (max-width: 1199px) {
  .service__img {
    height: 315px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .service__img {
    height: 240px;
    margin-bottom: 10px;
  }
}
.service__subtitle {
  padding-left: 5px;
}
.service__label {
  position: absolute;
  top: 32px;
  left: 30px;
  background-color: #AD1818;
  padding: 5px 21px;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 40px;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .service__label {
    font-size: 20px;
    line-height: 27px;
    padding: 5px 27px;
  }
}
@media (max-width: 767px) {
  .service__label {
    padding: 5px 24px;
    min-height: 30px;
    font-size: 14px;
    line-height: 19px;
    top: 23px;
    left: 23px;
  }
}