@import url(https://fonts.googleapis.com/css?family=Manrope:regular);
html, body {
  height: 100%;
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #121212;
  scroll-behavior: smooth;
}
html.scroll-lock, body.scroll-lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1150px;
  padding: 0px 30px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 1024px) {
  .nav {
    background-color: #FFFFFF;
    position: absolute;
    top: 91px;
    right: 0;
    z-index: 10;
    width: 375px;
    height: 100vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav::after {
    background-color: #121212;
    opacity: 0.5;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav__list > *:not(:last-child) {
  margin-right: 60px;
}
@media (max-width: 1024px) {
  .nav__list > *:not(:last-child) {
    margin-right: 0px;
  }
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 25px;
  }
  .nav__list > *:not(:last-child) {
    margin-bottom: 25px;
  }
}
.nav__link {
  position: relative;
  color: #121212;
}
.nav.menu-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  .link {
    font-size: 20px;
  }
}
.link:hover {
  opacity: 1;
}
@media (min-width: 1025px) {
  .link:hover::after {
    width: 100%;
  }
}
.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0px;
  height: 1.5px;
  background-color: #121212;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.link--light {
  color: #FFFFFF;
}

.title {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.title--light {
  color: #FFFFFF;
}

.subtitle {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
}
@media (max-width: 1024px) {
  .subtitle {
    font-size: 24px;
    line-height: 31px;
  }
}
@media (max-width: 540px) {
  .subtitle {
    font-size: 18px;
    line-height: 26px;
  }
}

.subtitle--light {
  color: #FFFFFF;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #AD1818;
  padding: 0px 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 67px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #e23939;
}
@media (max-width: 540px) {
  .btn {
    padding: 0px 40px;
    min-height: 45px;
    font-size: 16px;
    line-height: 20px;
  }
}

.item-apartment > *:not(:last-child) {
  margin-bottom: 15px;
}
.item-apartment__img {
  max-width: 100%;
}
.item-apartment__link {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #AD1818;
}
@media (max-width: 540px) {
  .item-apartment__link {
    font-size: 16px;
  }
}

.item-service > *:not(:last-child) {
  margin-bottom: 15px;
}
.item-service__img {
  max-width: 100%;
}
.header {
  position: relative;
  z-index: 15;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 91px;
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__menu-btn {
  display: none;
}
@media (max-width: 1024px) {
  .header__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: none;
    border: none;
    font-size: 35px;
    color: #121212;
    cursor: pointer;
  }
}
.header__img {
  max-height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.overlay {
  background-color: #121212;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 91px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.overlay.menu-open {
  visibility: visible;
  opacity: 0.5;
}

.main {
  padding: 37px 0px 75px 0px;
}
@media (max-width: 1024px) {
  .main {
    padding: 10px 0px 25px 0px;
  }
}
.main__container > *:not(:last-child) {
  margin-bottom: 30px;
}
.main__title {
  max-width: 956px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
@media (max-width: 1024px) {
  .main__title {
    max-width: 735px;
    font-size: 39.99996px;
    line-height: 39.99996px;
  }
}
@media (max-width: 540px) {
  .main__title {
    max-width: 735px;
    font-size: 24px;
    line-height: 24px;
  }
}
.main__image {
  position: relative;
}
.main__img {
  max-width: 100%;
}
.main__description {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 430px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .main__description {
    bottom: 15px;
    left: 15px;
    max-width: 345px;
    font-size: 16px;
    line-height: 21.6px;
  }
}
@media (max-width: 540px) {
  .main__description {
    max-width: 255px;
    font-size: 12px;
    line-height: 16.2px;
  }
}

.about-us {
  padding: 75px 0px;
}
@media (max-width: 1024px) {
  .about-us {
    padding: 25px 0px;
  }
}
.about-us__container > *:not(:last-child) {
  margin-bottom: 30px;
}
.about-us__description {
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
}
@media (max-width: 1024px) {
  .about-us__description {
    font-size: 29.99997px;
    line-height: 40.666626px;
  }
}
@media (max-width: 540px) {
  .about-us__description {
    font-size: 14.999985px;
    line-height: 20.333313px;
  }
}
.projects {
  padding: 75px 0px 150px 0px;
}
@media (max-width: 1024px) {
  .projects {
    padding: 25px 0px 50px 0px;
  }
}
.projects__container > *:not(:last-child) {
  margin-bottom: 90px;
}
@media (max-width: 540px) {
  .projects__container > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
.projects__container > *:first-child {
  margin-bottom: 30px;
}
.projects__link-btn {
  background-color: #FFFFFF;
  border: 1px solid #AD1818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 153px;
  font-size: 30px;
  line-height: 41px;
  color: #AD1818;
}
@media (max-width: 540px) {
  .projects__link-btn {
    min-height: 75px;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
  }
}
.projects__link-btn:hover {
  background-color: #AD1818;
  color: #FFFFFF;
}
.services {
  background-color: #121212;
  padding: 150px 0px;
}
@media (max-width: 1024px) {
  .services {
    padding: 50px 0px;
  }
}
.services__container > *:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 540px) {
  .services__container > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
.services__container > *:first-child {
  margin-bottom: 30px;
}
.fullscreen__img {
  width: 100%;
  max-height: 717px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.fullscreen__container {
  position: relative;
}
.fullscreen__description {
  position: absolute;
  bottom: 60px;
  left: 30px;
  max-width: 443px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .fullscreen__description {
    max-width: 385px;
    font-size: 26px;
    line-height: 36px;
    bottom: 30px;
  }
}
@media (max-width: 540px) {
  .fullscreen__description {
    max-width: 235px;
    font-size: 16px;
    line-height: 21px;
  }
}

.contacts {
  padding: 150px 0px;
}
@media (max-width: 1024px) {
  .contacts {
    padding: 50px 0px;
  }
}
.contacts__container > *:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 540px) {
  .contacts__container > *:not(:last-child) {
    margin-bottom: 15px;
  }
}
.contacts__container > *:first-child {
  margin-bottom: 12px;
}
@media (max-width: 540px) {
  .contacts__container > *:first-child {
    margin-bottom: 5px;
  }
}
.contacts__phone {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
@media (max-width: 540px) {
  .contacts__phone {
    font-size: 30px;
    line-height: 30px;
  }
}
.contacts__email {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;
  opacity: 0.5;
}
@media (max-width: 540px) {
  .contacts__email {
    font-size: 30px;
    line-height: 30px;
  }
}

.footer {
  background-color: #121212;
  padding: 60px 0px 30px 0px;
}
@media (max-width: 540px) {
  .footer {
    padding: 30px 0px 15px 0px;
  }
}
.footer__container {
  text-align: center;
}
.footer__container > *:not(:last-child) {
  margin-bottom: 87px;
}
@media (max-width: 1024px) {
  .footer__container > *:not(:last-child) {
    margin-bottom: 40px;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__list > *:not(:last-child) {
  margin-right: 55px;
}
@media (max-width: 540px) {
  .footer__list > *:not(:last-child) {
    margin-right: 0px;
  }
}
@media (max-width: 540px) {
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .footer__link {
    font-size: 20px;
  }
}
.footer__link:hover {
  opacity: 0.5;
}
@media (max-width: 540px) {
  .footer__link {
    font-size: 16px;
  }
}
.footer__text {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  opacity: 0.5;
}
@media (max-width: 540px) {
  .footer__text {
    font-size: 16px;
    line-height: 21px;
  }
}/*# sourceMappingURL=style.css.map */