button {
	font-family: "Manrope";
	font-size: 14px;
	font-weight: 400;
}

.button {
	background-color: #AD1818;
	padding: 0 40px;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	text-align: center;
	min-height: 67px;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
	transition: all 0.5s;
	
	@media (max-width: 767px) {
		padding: 0 27px;
		min-height: 51px;
		font-size: 16px;
		line-height: 22px;
	}
}

.button-full-width {
	background-color: #FFFFFF;
	border: 1px solid #AD1818;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	min-height: 153px;
	font-size: 30px;
	line-height: 41px;
	color: #AD1818;
	transition: all 0.5s;
	cursor: pointer;

	&:hover {
		background-color: #AD1818;
		color: #FFFFFF;
	}

	@media (max-width: 767px) {
		min-height: 100px;
		font-size: 22px;
		line-height: 30px;
	}

	&_inversion {
		background-color: #AD1818;
		border: 1px solid #AD1818;
		color: #FFFFFF;
		
		/* &:hover {
			border: 1px solid #FFFFFF;
			background-color: #FFFFFF;
			color: #AD1818;
		} */
	}

	&_small {
		min-height: 67px;
		font-size: 20px;
		line-height: 27px;
	}
}

.button-menu-burger {
	position: relative;
	width: 50px;
	height: 50px;
	transform: translateY(-10px);
	z-index: 100;
	transition: all 0.5s;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: calc(50% - 4px);
		transform: translateY(-50%);
		right: 0;
		width: 50px;
		height: 2px;
		background-color: #000000;
		transition: all 0.5s;
	}

	&::after {
		content: "";
		position: absolute;
		top: calc(50% + 4px);
		transform: translateY(-50%);
		right: 0;
		width: 31px;
		height: 2px;
		background-color: #000000;
		transition: all 0.5s;
	}

	&_open {

		&::before {
			height: 2.5px;
			top: 50%;
			right: 8px;
			width: 27px;
			transform: rotate(45deg);
			border-radius: 15px;
		}
		
		&::after {
			height: 2.5px;
			top: 50%;
			right: 8px;
			width: 27px;
			transform: rotate(-45deg);
			border-radius: 15px;
		}
	}
}

.button-close {
	position: absolute;
    top: 32px;
    right: 34px;
    width: 50px;
    height: 50px;
    background-image: url(../icons/close-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

	@media (max-width: 1199px) {
	    right: 44px;
    }

	@media (max-width: 767px) {
    	top: 40px;
    	right: 29px;
    	width: 30px;
    	height: 30px;
    	background-image: url(../icons/close-button_mobile.svg);
    }
}