.contacts {
	padding: 150px 0px 162px 0px;

	&__container {

	}

	&__title {
		margin-bottom: 32px;

		&::before {
			content: "";
			display: block;
			margin-left: -5px;
			margin-bottom: 12px;
			width: 24px;
			height: 24px;
			background-image: url(../icons/outline-phone-iphone.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	&__list {

	}

	&__item-list {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__phone span {
		margin-left: 12px;
	}

	&__link {
		display: inline-block;
		position: relative;
		font-size: 60px;
		line-height: 60px;
		color: #121212;
		transition: all 0.5s;
		
		&:hover {
			opacity: 0.5;
			
			&::after {
				width: 100%;
			}
		}
		
		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 2px;
			background-color: #121212;
			transition: all 0.5s;
		}
	}
}