.footer {
	background-color: #121212;
	padding: 60px 0 30px;

	@media (max-width: 767px) {
		padding: 30px 0 26px;
	}

	&__container {
		text-align: center;
	}

	&__nav {
		margin-bottom: 87px;

		@media (max-width: 767px) {
			margin-bottom: 41px;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		gap: 0 55px;

		@media (max-width: 767px) {
			gap: 0 30px;
		}
	}

	&__item-list {
	}

	&__link {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		transition: all 0.5s;
		color: #FFFFFF;
		
		&:hover {
			opacity: 0.5;
		}

		@media (max-width: 767px) {
			font-size: 12px;
			line-height: 16px;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
		opacity: 0.5;

		@media (max-width: 767px) {
			font-size: 13px;
			line-height: 18px;	
		}
	}
}