.header {
	position: relative;
	z-index: 15;

	&__container {
		
	}

	&__inner {
		display: flex;
		align-items: center;
		min-height: 91px;
	}

	&__logo {
		flex: 1 1 auto;
	}

	&__link {
	}

	&__img {
		max-height: 50px;
		object-fit: cover;
		object-position: center;
	}

	&__nav {

		@media (max-width: 1199px) {
			display: none;
		}
	}

	&__button {
		display: block;

		@media (max-width: 1199px) {
			display: block;
		}
	}
}