.header {
	position: relative;
	z-index: 15;

	&__container {
		
	}

	&__inner {
		display: flex;
		align-items: center;
		min-height: 91px;

		@media (max-width: 1199px) {
			min-height: 87px;
		}

		@media (max-width: 767px) {
			min-height: 78px;
		}
	}

	&__logo {
		flex: 1 1 auto;
	}

	&__link {
	}

	&__img {
		max-height: 21.42px;
		object-fit: cover;
		object-position: center;

		@media (max-width: 767px) {
			max-height: 16px;
		}
	}

	&__nav {

		@media (max-width: 1199px) {
			display: none;
		}
	}

	&__button {
		display: none;

		@media (max-width: 1199px) {
			display: block;
		}
	}
}