.intro {
	padding: 37px 0 75px 0;
	
	@media (max-width: 1199px) {
		padding: 41px 0 60px 0;
	}
	
	@media (max-width: 767px) {
		padding: 30px 0 40px 0;
	}

	&__container {
		
	}

	&__title {
		max-width: 956px;
		margin-bottom: 30px;
	
		@media (max-width: 1199px) {
			max-width: 802px;
		}
		
		@media (max-width: 767px) {
			max-width: 335px;
			margin-bottom: 25px;
		}
		}

	&__image {
		position: relative;
		height: 500px;
		background-color: #121212;
		background-image: url(../images/intro_desktop.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		@media (max-width: 1199px) {
			height: 400px;
			background-image: url(../images/intro_tablet.png);
		}
		
		@media (max-width: 767px) {
			height: 304px;
		}
		
		@media (max-width: 500px) {
			background-image: url(../images/intro_mobile.png);
		}
	}

	&__description {
		position: absolute;
		bottom: 40px;
		left: 40px;
		max-width: 430px;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;

		@media (max-width: 1199px) {
			bottom: 30px;
		}
		
		@media (max-width: 767px) {
			bottom: 15px;
			left: 15px;
			width: 312px;
			font-size: 16px;
			line-height: 22px;
		}
	}
}