.projects {
	padding: 75px 0 150px;

	@media (max-width: 1199px) {
		padding: 60px 0 100px;
	}

	@media (max-width: 767px) {
		padding: 40px 0 80px;
	}

	&__container {

	}

	&__title {
		margin-bottom: 30px;
		
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}

	}

	&__items {
		margin-bottom: 90px;

		@media (max-width: 1199px) {
			margin-bottom: 100px;
		}
	
		@media (max-width: 767px) {
			margin-bottom: 60px;
		}
	}

	&__link-button {
	}
}

.project {
	margin-bottom: 90px;

	@media (max-width: 1199px) {
		margin-bottom: 80px;
	}

	@media (max-width: 767px) {
		margin-bottom: 49px;
	}



	&__img {
		display: block;
		width: 100%;
		height: 450px;
		object-fit: cover;
		object-position: center;
		margin-bottom: 15px;
		
		@media (max-width: 767px) {
			height: 250px;
			margin-bottom: 20px;
		}
	}
	
	&__subtitle {
		margin-bottom: 15px;

		@media (max-width: 1199px) {
			margin-bottom: 10px;
		}

		@media (max-width: 767px) {
			margin-bottom: 11px;
		}
	}
	
	&__link {
		font-size: 20px;
		line-height: 27px;
		color: #AD1818;

		@media (max-width: 1199px) {}

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}