.services {
	background-color: #121212;
	padding: 150px 0px;

	@media (max-width: 1199px) {
		padding: 151px 0 120px;
	}

	@media (max-width: 767px) {
		padding: 80px 0;
	}

	&__container {

	}

	&__title {
		margin-bottom: 30px;

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 81px 11px;
		margin-bottom: 104px;

		@media (max-width: 1199px) {
			gap: 80px 10px;
			margin-bottom: 80px;
		}

		@media (max-width: 767px) {
			flex-direction: column;
			gap: 60px 0;
			margin-bottom: 60px;
		}
	}
}

.service {
	position: relative;
	flex: 0 1 calc(50% - 5.5px);
	
	@media (max-width: 1199px) {
		flex: 0 1 calc(50% - 5px);
	}

	@media (max-width: 767px) {
		flex: 0 1 100%;
	}
	
	&__img {
		display: block;
		width: 100%;
		height: 388px;
		object-fit: cover;
		object-position: center;
		margin-bottom: 25px;

		@media (max-width: 1199px) {
			height: 315px;
			margin-bottom: 15px;
		}

		@media (max-width: 767px) {
			height: 240px;
			margin-bottom: 10px;
		}
	}
	
	&__subtitle {
		padding-left: 5px;
	}

	&__label {
		position: absolute;
		top: 32px;
		left: 30px;
		background-color: #AD1818;
		padding: 5px 21px;
		border-radius: 5px;
		display: inline-flex;
		align-items: center;
		text-align: center;
		min-height: 40px ;
		font-size: 22px;
		line-height: 30px;
		color: #FFFFFF;
		
		@media (max-width: 1199px) {
			font-size: 20px;
			line-height: 27px;
			padding: 5px 27px;
		}
		
		@media (max-width: 767px) {
			padding: 5px 24px;
			min-height: 30px;
			font-size: 14px;
			line-height: 19px;
			top: 23px;
			left: 23px;
		}
	}
}