@import url(https://fonts.googleapis.com/css?family=Manrope:regular);

@import "popup.css";
@import "buttons.css";
@import "header.css";
@import "intro.css";
@import "about-us.css";
@import "projects.css";
@import "services.css";
@import "reviews.css";
@import "gallery.css";
@import "contacts.css";
@import "footer.css";

body {
	font-family: "Manrope";
	font-size: 14px;
	font-weight: 400;
	color: #121212;
	
	&.scroll-lock {
		overflow: hidden;
	}
}

h1, h2, h3, p, span, a, button {
	letter-spacing: -0.03em;
}

//
.wrapper {
	position: relative;
	min-height: 100%;
	//overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.container {
	width: 1150px;
	margin: 0px auto;

	@media (max-width: 1199px) {
		width: 100%;
		padding: 0 17px 0 15px;
	}
	
	@media (max-width: 767px) {
		padding: 0 13px 0 12px;
	}
}

// Common styles
.main-title {
	font-size: 60px;
	line-height: 60px;
	
	@media (max-width: 1199px) {
		font-size: 50px;
		line-height: 60px;
	}
	
	@media (max-width: 767px) {
		font-size: 30px;
		line-height: 32px;
	}
}

.title {
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;

	@media (max-width: 1199px) {
	}
	
	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 19px;
	}
}

.title_light {
	color: #FFFFFF;
}

.subtitle {
	font-size: 30px;
	line-height: 41px;

	@media (max-width: 1199px) {
		font-size: 25px;
		line-height: 34px;
	}
	
	@media (max-width: 767px) {
		font-size: 18px;
		line-height: 25px;
	}
}

.subtitle_light {
	color: #FFFFFF;
}

.nav {
	
	&__list {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
	
	&__item-list {
		margin-left: 60px;

		&:first-child {
			margin-left: 0;
		}
	}
	
	&__link {
		position: relative;
		color: #121212;
	}
	
	&.menu-open {
		transform: translateX(0);
	}
}

.link {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	transition: all 0.5s;
	
	&:hover {
		opacity: 0.5;
		
		&::after {
			width: 100%;
		}
	}
	
	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 1px;
		background-color: #121212;
		opacity: 0.5;
		transition: all 0.5s;
	}
}

.link_light {
	color: #FFFFFF;
}